#editgift-page {
  .editgift-label {
    font-size: 2vmax !important;
    font-weight: 400;
  }

  .editgift-input {
    font-size: 1.8vmax !important;
    font-weight: 300;
  }

  .editgift-buttons {
    align-items: center;
  }

  .delete-alert {
    color: #fff;
  }
}
