#grouplist {

  /* Due to the fact the cards are inside of columns the margins don't overlap
   * properly so we want to remove the extra margin between cards
   */
  ion-col:not(:last-of-type) .group-card {
    margin-bottom: 0;
  }

  .group-card {
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 30px 10px 20px;
  }

  .group-item {
    align-self: center;
    font-weight: 200;
    font-size: 3vmax;
  }

  .group-card:hover {
    --background-hover: red;
    color: black;
  }

  .group-card .group-item {
    --min-height: 10rem;
    // --min-weight: 30rem;
  }

  .ios ion-list {
    margin-bottom: 10px;
  }

  .md ion-list {
    border-top: 1px solid var(--ion-color-step-150, #d7d8da);
    padding: 0;
  }

  #groups-title {
      font-size: 3vmax;
  }
}

#add-group {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 55px;
  text-transform: capitalize;
}
