#reset-password {
  .resetpass-content {
    font-weight: 200;
    font-size: 4vmax;
    margin: 0 30px 0;
    text-align: center;
    align-items: center;
  }

  .username-field {
    width: 50%;
    align-items: center;
  }

  .resetpass-button {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
  }
}
