#wishlist-page {
  img {
    max-width: 140px;
    border-radius: 50%;
    text-align: center;
  }
}
// ion-col {
//   border: 1px solid grey;
//   text-align: center;
// }
//
// ion-row {
//   border: 1px solid grey;
//   text-align: center;
// }

#wishlist-gifts {
  font-size: 5vh;
}

#wishlist-add-button {
  width: 50%;
  margin: auto;
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
